    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/jquery.actual.min.js"></script>
    <script src="assets/js/jquery.bxslider.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/jquery.elevatezoom.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/theme-script.js"></script>
    <!-- script -->

  </body>
</html>
