/* ------------------------------>>> HEADER <<<------------------------------ */
.header{
	&-top{
		background: none repeat scroll 0% 0% $base-bgcolor;

		.nav-top-links, .currency, .language, .support-link, .user-info{
			width: auto;
			display: inline-block;
			line-height: $header-gutter;
		}

		.support-link {
		    float: right;
		}

		a{
			border-right: 1px solid $text-dark-gray;
			padding-right: 10px;
			margin-left: 10px;
		}

		a.first-item{
			margin-left: 0px;
		}

		a.current-open:after {
		    content: "\f107";
		    font-family: "FontAwesome";
		    font-size: 17px;
		    vertical-align: 0;
		    padding-left: $padding-gutter;
		    font-weight: bold;
		}

		img {
		    display: inline-block;
		    vertical-align: middle;
		    margin-top: -3px;
		    margin-right: 5px;
		}
	}

	&-main{
		padding: $gutter 0px $gutter*3/2;

		&-search-box {
		    margin-top: 17px;
		    padding-left: 4*$gutter;
		    padding-right: 3*$padding-gutter;

		    .form-inline {
			    height: $header-base-height;
			    border: 1px solid $gray;
			    position: relative;

			    .form-category {
				    background: none repeat scroll 0% 0% $base-bgcolor;
				    height: 39px;
				}

				.select2 {
				    border-right: 1px solid $gray;
				    min-width: 152px;
				    height: $header-base-height - 1;

				    .select2-selection {
					    border: medium none;
					    background: none repeat scroll 0% 0% transparent;
					    margin-top: -1px;

					    .select2-selection__rendered {
						    padding-left: $padding-gutter;
						    line-height: $header-base-height;
						}

						.select2-selection__arrow {
						    top: 6px;
						    right: $padding-gutter;
						}
					}
				}

				.input-search {
				    width: calc(100% - 200px);

				    input {
					    border: medium none;
					    padding-left: $padding-gutter;
					    width: 100%;
					}
				}

				.btn-search {
				    width: $header-base-width;
				    height: $header-base-height;
				    background: url("../images/search.png") no-repeat scroll center center $base-color;
				    border: medium none;
				    border-radius: 0px;
				    color: #FFF;
				    font-weight: bold;
				    position: absolute;
				    top: -1px;
				    right: -1px;
				}
			}
		}

		.shopping-cart-box {
		    margin-top: 17px;
		    padding: 0px;
		    margin-right: $padding-gutter;
		    margin-left: -$padding-gutter;
		    line-height: normal;

		    a.cart-link {
			    height: $header-base-height;
			    width: 100%;
			    border: 1px solid $gray;
			    display: block;
			    position: relative;
			    padding: 2px 41px 0px $padding-gutter;

			    .title {
				    width: 100%;
				    float: left;
				    text-transform: uppercase;
				    font-weight: bold;
				    margin-top: 2px;
				}
			}

			a.cart-link:hover:after{
			    opacity: 0.8;
			}

			a.cart-link:after{
			    content: '';
			    width: $header-base-width;
			    height: $header-base-height;
			    background: $base-color url('../images/cart.png') no-repeat center center;
			    position: absolute;
			    top: -1px;
			    right: -1px;
			}

			.cart-block {
			    position: absolute;
			    top: 100%;
			    right: -1px;
			    z-index: 1002;
			    max-height: 500px;
			    overflow-y: auto;
			    background: none repeat scroll 0% 0% #FFF;
			    color: #666;
			    width: 300px;
			    opacity: 0;
			    display: block;
			    visibility: hidden;
			    @include box-shadow(0px, 4px, 7px, 0px, rgba(50, 50, 50, 0.2));
			    @include transition(opacity 0.5s ease 0s, transform 0.5s ease 0s);
			    @include transform(translate(0px, 40px));

			    .cart-block-content {
				    padding: 4/3*$padding-gutter;
				    overflow: hidden;

				    .cart-title {
					    text-transform: uppercase;
					    font-size: 12px;
					}

					.toal-cart {
					    margin-top: 10px;

					    .toal-price {
						    font-size: 18px;
						    color: #999;
						}
					}

					.cart-buttons {
					    overflow: hidden;
					    width: 100%;

					    .btn-check-out {
						    background: none repeat scroll 0% 0% $base-color;
						    color: #FFF;
						}

						 a {
						    width: 50%;
						    float: left;
						    margin-top: 12px;
						    text-transform: uppercase;
						    font-size: 13px;
						    padding: 10px 0px;
						    text-align: center;
						}
					}

					.product-info {
					    margin-top: 2/3*$padding-gutter;
					    border-bottom: 1px solid $gray;
					    display: block;
					    overflow: hidden;
					    padding-bottom: 2/3*$padding-gutter;

					    .p-left {
						    width: 100px;
						    float: left;
						    position: relative;

						    .remove_link {
							    position: absolute;
							    left: 0px;
							    top: 0px;
							}

							.remove_link:after {
							    content: "";
							    background: url("../images/delete_icon.png") no-repeat scroll center center transparent;
							    font-size: 0px;
							    height: 9px;
							    width: 9px;
							    display: inline-block;
							    line-height: 24px;
							}
						}

						.p-right {
						    margin-left: 110px;
						    line-height: 25px;

						    .p-rice {
							    color: $base-color;
							}
						}
					}
				}

			}
		}

		.shopping-cart-box:hover .cart-block{
			@include transform(translate(0,0));
			opacity: 1;
			visibility: visible;
		}
	}
}
