
// Color
$base-color: #ff3366;
$white: #fff;
$dark-white: #f4f4f4;
$black: #000;
$light-black: #1c1c1c;
$xlight-black: #2b2b2b;
$gray: #eaeaea;
$dark-gray: #E1E1E1;
$text-dark-gray: #666;
$text-gray: #a4a4a4;
$green: #38c662;
$xgreen: #2dc159;
$light-green: #4ba14f;
$xlight-green: #57ab5b;
$orange: #edaa2f;
$xorange: #f6b339;
$blue: #151d28;
$xblue: #1d2632;
$bright-blue: #1b6cd5;
$xbright-blue: #2475dd;
$light-blue: #1fabbf;
$xlight-blue: #2cb9cd;

  //social color
  $twiter: #54abed;
  $gplus: #d24332;
  $facebook: #44609f;
  $linkedin: #0f5b91;


/* fonts */
$font-base: 16px;
$font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-bold: 700;
$font-semibold: 600;
$font-medium: 500;
$font-normal: 400;
$font-light: 300;

/* gutter */
$gutter: 20px;

/* breakpoint */
$large: 1200px;
$desktop: 992px;
$tablet: 768px;

