/* Main.scss */
/* fonts */
/* gutter */
/* breakpoint */
/**
 * Mixins
 */
/* ------------------------------>>> COMMON <<<------------------------------ */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  box-sizing: border-box;
  color: #2b2b2b;
}

.wrapper {
  overflow: hidden;
}
.wrapper.active {
  position: fixed;
  width: 100%;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

img {
  vertical-align: top;
}

a {
  color: #2b2b2b;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover, a:active, a:focus {
  color: #ff3366;
  text-decoration: none;
}

a,
a i,
button,
input {
  transition-duration: 0.25s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-out;
}
a:hover, a:active, a:focus,
a i:hover,
a i:active,
a i:focus,
button:hover,
button:active,
button:focus,
input:hover,
input:active,
input:focus {
  outline: none;
}

/* ------------------------------>>> HEADER <<<------------------------------ */
/* ------------------------------>>> Homepage <<<------------------------------ */
/* ------------------------------>>> PRICING <<<------------------------------ */
/* ------------------------------>>> FOOTER <<<------------------------------ */
